<!-- Footer -->
<div class='container'>
    <div class='footer-content'>
        <p><%=__('App created by')%> <a class='link' href='https://github.com/Adrianp7m'> Adrian Perez</a></p>
        
    </div>
    <div class='social'>
          
        <a class='social-icon' href='https://github.com/Adrianp7m'>
            <i class='fab fa-github social-icon--g  ithub'></i>
        </a>
        <a class='social-icon' href='https://www.linkedin.com/in/adrianp7m/'>
            <i class='fab fa-twitter social-icon--twitter'></i>
        </a>
        
    </div>
</div>